{erl_opts, [debug_info]}.
{deps, [kuberl]}.

{relx, [{release, { kuberlex, "0.1.0" }, [kuberlex]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, false},
        {include_src, false},

        {extended_start_script, false}]
}.
